{{ define "courseOverview" }}
{{ template "header" .Info }}
<main class="px-3"><hr>
    <h1>Доступные курсы</h1>
    <script>
      $('#example').tooltip(options)
    </script>
    <form action="/findCourse" method="POST" style="margin-top: 25px;">
            <input type="text" name="courseOrTeacherName" id="courseOrTeacherName" placeholder="Название курса или имя преподавателя" class="form-control" style="width: 330px; display: inline-block; vertical-align: middle; ">
        <button class="btn btn-outline-warning" style="vertical-align: middle;">Найти</button>
        <a class="btn btn-outline-danger"  title="Tooltip on right" href="/courseOverview"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg></a>
    </form><br>

    <script src="/static/js/subscribe.js"></script>
    <link rel="stylesheet" href="/static/css/subscribe.css">
    
    {{ range .Course }}
        <hr>
        <div class="card" style="width: 28rem; margin: auto auto; background-color: lightslategrey; display: inline-block;" >
          <div class="card-body">
            <h5 class="card-title">Курс: {{ .CourseName }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><hr>
            Желаете подписаться?
            <button class="btn btn-outline-success" onclick="openForm({{ .ID }}, {{ .CourseName }})" style="color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg></button>
          </div>
        </div>
        <!-- <a href="#" class="btn btn-outline-info">{{ .CourseName }}</a> -->

        
        <div class="form-popup" id="myForm">
            <form action="/checkCodeword" class="form-container">
                <h5 style="color: black;" id="label" >Подписаться</h5>
                <input type="text" placeholder="Кодовое слово*" name="codeword" id="codeword" >
                <input type="text" value="" name="courseID" id="courseID" style="display: none;" required>
                <h6 style="color: dimgray;">*если кодовое слово не требуется, оставьте поле пустым</h6><hr>
                <button type="submit" class="btn">Отправить</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
            </form>
        </div>
    {{ end }}
</main>
{{ template "footer" }}
{{ end }}
