{{ define "about" }}
{{ template "header" .Info }}
<main class="px-3">
  <div class="nav-link" id="rightMenu" ></div>
  <script src="/static/js/rightMenu.js"></script>
  <hr>
  <div class="alert alert-light" role="alert">
    <h4 class="alert-heading">Отличная работа!</h4>
    <p>Выполнил студент группы 7291-11 Миргаязов Камиль.</p>
    <hr>
    <p class="mb-0">КНИТУ (КХТИ) 2021</p>
  </div>
  <!-- <form action="/classIris" method="POST" style="width: 400px; margin: auto auto;">
    <br><h1>Определения вида ириса</h1>
    <input required type="text" name="dlina" id="dlina" placeholder="Введите длину лепестка" class="form-control"><br>
    <input required type="text" name="shirina" id="shirina" placeholder="Введите ширину лепестка" class="form-control"><br>
    <button class="btn btn-outline-success">Определить вид</button>
</form><br>
<h1>Класс ирисов: {{ .Class }}</h1> -->
</main>
{{ template "footer" }}
{{ end }}