{{ define "accessСontrol" }}
{{ template "header" . }}
<main class="px-3">
    <hr>
    <div class="nav-link" id="rightMenu"></div>
    <script src="/static/js/rightMenu.js"></script>
    <div class="card" style="width: 28rem; margin: auto auto; background-color: lightslategrey; display: inline-block;">
        <form action="/saveUserPosition" method="POST" style="width: 400px; margin: auto auto;">
            <br>
            <h3>Управление доступом</h3>
            <input required type="text" name="user_name" id="user_name" placeholder="Имя пользователя"
                class="form-control"><br>
            <select required name="position" id="position" placeholder="Выберите уровень доступа" class="form-control">
                <option selected disabled value="">Сменить уровень доступа</option>
                <option value="student">Студент</option>
                <option value="teacher">Преподаватель</option>
                <option value="admin">Администратор</option>
            </select>
            <button class="btn btn-outline-warning" style="margin-top: 15px;">Сохранить</button>
        </form><br>
    </div>
    <hr>
</main>
{{ template "footer" }}
{{ end }}