{{ define "accessСontrol" }}
{{ template "header" . }}
<main class="px-3">
    <br>
    <h1>Управление доступом</h1>  
    <form action="/saveUserPosition" method="POST">
        <input type="text" name="user_name" id="user_name" placeholder="Имя пользователя" class="form-control"><br>
        <select required name="position" id="position" placeholder="Выберите уровень доступа" class="form-control">
            <option selected  disabled>Сменить уровень доступа</option>
            <option value="student">Студент</option>
            <option value="teacher">Преподаватель</option>
            <option value="admin">Администратор</option>
          </select>
        <button class="btn btn-outline-warning" style="margin-top: 15px;">Сохранить</button>
    </form>   
</main>
{{ template "footer" }}
{{ end }}
