{{ define "questionsСontrol" }}
{{ template "header" . }}
<main class="px-3"><hr>
    <h1>Добавить вопрос</h1>  
    <form action="/saveQuestion" method="POST">
        <input type="text" name="question" id="question" placeholder="Вопрос" class="form-control"><br>
        <input type="text" name="answer" id="answer" placeholder="Ответ" class="form-control"><br>
        <button class="btn btn-outline-warning" style="margin-top: 15px;">Сохранить</button>
    </form>   
</main>
{{ template "footer" }}
{{ end }}
