{{ define "studentCourses" }}
{{ template "header" .Info }}
<main class="px-3"><hr>
    <h1>Мои курсы</h1>
    <div class="nav-link" id="rightMenu" ></div>
    <script src="/static/js/rightMenu.js"></script>
    {{ range .Course }}
        <hr>
        <div class="card" style="width: 28rem; margin: auto auto; background-color: lightslategrey; display: inline-block;" >
            <div class="card-body">
              <a href="/student/course/{{ .ID }}" class="btn btn-info">{{ .CourseName }}</a><hr>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {{ end }}
</main>
{{ template "footer" }}
{{ end }}
