{{ define "teacherTestInfo" }} {{ template "header" .Info }}
<main class="px-3">
  <hr />
  <script>
    function show() {
      document.getElementById("graph1").style.display = "block";
      document.getElementById("graph2").style.display = "block";
      document.getElementById("hideBtn").style.display = "block";
      document.getElementById("showBtn").style.display = "none";
    }

    function hide() {
      document.getElementById("graph1").style.display = "none";
      document.getElementById("graph2").style.display = "none";
      document.getElementById("showBtn").style.display = "block";
      document.getElementById("hideBtn").style.display = "none";
    }
  </script>

  <div class="nav-link" id="rightMenu"></div>
  <script src="/static/js/rightMenu.js"></script>
  <h1>Результаты теста</h1>
  <button class="btn btn-success" id="showBtn" style="margin: auto" onclick="show()">
    Показать общую статистику
  </button>
  <button class="btn btn-danger" id="hideBtn" style="display: none; margin: auto" onclick="hide()">
    Скрыть общую статистику
  </button>
  <div id="graph2" style="width: 300px; height: 300px; margin: auto; display: none">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
    <canvas id="myChart" width="200" height="200"></canvas>
    <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: {{ .Marks }},
      datasets: [{
        data: {{ .Counts }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 2
          }]
        },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
      });
    </script>
  </div>
  <div id="graph1" style="width: 300px; height: 300px; margin: auto; display: none">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
    <canvas id="myChart2" width="200" height="200"></canvas>
    <script>
      var ctx = document.getElementById('myChart2');
      var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
          labels: {{ .Marks }},
      datasets: [{
        data: {{ .Counts }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 2
          }]
        },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
      });
    </script>
  </div>

  {{ range .Stdnts }}
  <hr />

  <div class="card" style="
      width: 38rem;
      margin: auto auto;
      background-color: lightslategrey;
      display: inline-block;
    ">
    <div class="card-body">
      <a href="+{{ . }}"> Результаты пользователя: {{ . }}</a>
      <button onclick="red({{ . }})">посмотреть</button>
      <script>
        function red(name) {
          let baseURL = window.location.href;
          let newURL = baseURL + "/" + name;
          document.location.href = newURL;
        }
      </script>
    </div>
  </div>
  {{ end }}
</main>
{{ template "footer" }} {{ end }}